.container__footer {
    background: var(--cor-fundo-footer);
    padding: 3em 0;
}

.lista__footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.principal {
    flex-direction: column;
    margin-bottom: 1em;
}

.item__footer_principal {
    margin: 0.9em 0;
}

.link__footer {
    text-decoration: none;
    color: var(--cor-texto-footer);
    font-weight: 600;
}

.item__footer {
    margin: 1em;
}

.imagem__footer {
    width: 15vw;
    margin-bottom: 0.5em;
}